{% extends "base.html" %}
{% block head_title %}All Products{% endblock %}

{% block content %}
<section id="featured-products">

    <h2 class="section-headline">Featured Products</h2>
    <p class="section-description">
        Refresh your look with pieces of our winter collection
    </p>
</section>
    <!-- Featured Starts Here -->

    <div class="row posts">
        {% for product in products %}
        <div id="1" class="item new col-md-4">
          <a href="{{product.get_absolute_url}}">
            <div class="featured-item">
                <img src="{{product.image.url}}" alt="Item 1">
                <h4>{{ product.title | capfirst }}</h4>
                <h5>{{ product.brand | capfirst }}</h5>
                <h6>${{ product.price | floatformat:2 }}</h6>
            </div>
          </a>
        </div>
        {% empty %}
        <p style="font-size: 26px; font-weight: bold; text-align: center;">No products yet.</p>
        {% endfor %}

{% endblock %}