{% extends "base.html" %}
{% block head_title %}Cart{% endblock %}

{% block content %}
<section class="clearfix">

<h2 class="section-headline">Cart</h2>
<p class="section-description">
    Please check your products before checkout.
</p>

<div class="cart">
    <ul>
        {% for product in products %}
        <li class="item">
            <div class="cart-product-img">
                <img src="{{ product.image.url }}" alt="" />
            </div>
            <div>
                <h3>{{ product.title | capfirst }}</h3>
            </div>
            <div>
                <p>${{ product.price | floatformat:2 }}</p>
            </div>
            <div>
                <a href="{% url 'remove_from_cart' product_id=product.id %}" class="remove">x</a>
            </div>
        </li>
        {% empty %}
        <li>
            <p>No products yet.</p>
            <a class="back" href="{% url 'home' %}">Go to Shop</a>
        </li>
        {% endfor %}


        {% if products.count > 0 %}

        <li class="item" id="cart-summary">

            <div>
                <h3>Total price:</h3>
            </div>
            <div>
                <p>${{ total_price }}</p>
            </div>
            <div>
                <a style="background-color: #3A8BCD;" href="{% url 'order' %}" class="checkout">Checkout</a>
                <a href="{% url 'clear_all' %}" class="clear">Clear Cart</a>
            </div>
        </li>

        {% endif %}
    </ul>

</div>

</section>
{% endblock %}